@CHARSET "UTF-8";

.currentTrackBullet {
    visibility: hidden;
}

.currentTrackBullet.current {
    visibility: visible;
}

.accordion img.accordion-opener {
    heigth: 1.5em;
    width: 1.5em;
}

/* Utility classes */

.reveal-container .reveal-content {
    visibility: hidden;
}

.reveal-container:hover .reveal-content {
    visibility: visible;
}

.remove-container .remove-content {
    visibility: collapse;
}

.remove-container:active .remove-content {
    visibility: visible;
}